[submodule "directory_tree_builder"]
	path = directory_tree_builder
	url = https://github.com/mbradac/directory_tree_builder
[submodule "croatian-helper"]
	path = croatian-helper
	url = https://github.com/agrbin/croatian-helper
